@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
i :hover{
  cursor: pointer
}

.textAnimate {
  animation: type 15s steps(94);
  overflow: hidden;
  white-space: nowrap; 
  padding: 60
}

@keyframes type {
    0% {
      width: 0ch;
    }
    100%{
      width: 94ch;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
